    name: Docker CI/CD

    on:
      push:
        branches:
          - master # This workflow will run on pushes to the 'main' branch

    jobs:
      build-and-push:
        runs-on: ubuntu-latest # The type of runner that the job will execute on

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4 # Action to check out your repository code

          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3 # Action to set up Docker Buildx for multi-platform builds

          - name: Log in to Docker Hub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKER_USERNAME }} # Use the secret we created
              password: ${{ secrets.DOCKER_PASSWORD }} # Use the secret we created

          - name: Build and push Docker image
            uses: docker/build-push-action@v5
            with:
              context: .
              push: true
              tags: |
                ${{ secrets.DOCKER_USERNAME }}/mydevopsapp:latest # Tag as latest
                ${{ secrets.DOCKER_USERNAME }}/mydevopsapp:${{ github.sha }} # Tag with Git SHA for versioning
